img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  hr {
      
      border-style: none;
      border-top-style: dotted;
      border-color: grey;
      border-width: 2px;
      width: 100%;
  }
  body {
      background-color: #f4f4f2;
  }
  h1 {
      color: #14274E;
  }
  h3 {
    color: #14274E;
  }
  h4 {
    color: #14274E;
  }